@use 'components/colors' as *;
@use 'components/mixins' as *;

.game {
  display: none;
  @include positioning();
  @include button();
  line-height:2;
  text-transform: capitalize;
  button.reload {
    display: none;
    text-align: center;
    width: 100%;
    margin: 50px auto 10px;
  }
  .time.res {
    background: transparent;
    box-shadow: 0 0 0 0 ;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .lvl-secs {
    background: $background-bg-glass2;
    padding: 10px 20px;
    border-radius: 8px;
    width: 800px;
    font-size: 1.1rem;
    .lvl,.secs{
      color: $color-text2;
      padding: 0 8px;
      font : {
        style: italic;
        weight: bold;
      }
    }
  }
  .word-to-type {
    color: $color-text2;
    margin: 8px 0;
    font: {
      size: 2.5rem;
      weight: bold;
    } 
  }
  input {
    border-radius: 8px;
    width: 800px;
    text-align: center;
    caret-color: $color-text2;
    color: $color-text2;
    font-size: 1.1rem;
    padding: 18px;
    background: $background-bg-glass;
    box-shadow: $box-shadow;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      opacity: 0.2;
    }
  }
  .upcoming-words {
    background: $background-bg-glass2;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: $box-shadow;
    .word {
      display: inline-block;
      background: $background-bg;
      box-shadow: $box-shadow;
      color: white;
      padding: 8px 12px;
      margin: 0 5px 10px ;
      border-radius: 8px;
    }
  }
  .time {
    background: $background-bg-glass2;
    box-shadow: $box-shadow;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    .secs-lvl,
    .main-score,
    .scored{
      color: $color-text2;
      font-weight: bold;
    }
  }
}