@use '_rules';

@use 'components/colors' as *;
@use 'components/mixins' as *;
@use 'components/levels';
@use 'components/game';


.title {
  color: $color-text2;
  background: $background-bg-glass;
  text-align: center;
  padding: 15px 0;
  box-shadow: $box-shadow;
}

.count {
  @include positioning();
  font-weight: bold;
  color: $color-text2;
  animation: opacity 1000ms ease-in-out infinite;
}

@keyframes opacity {
  from {
    opacity: 0;
    font-size: 0rem;
  }
  to {
    opacity: 1;
    font-size: 6rem;
  }
}